@media screen and (max-width: 1300px) {
	.container{
		max-width: 960px;
	}
    .asks{
        flex-direction: column;
    }
    .ask_img{
        padding: 58px 0;
    }
    .free{
        
    }
}
@media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}